# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

deploy/
node_modules/

neochess
neochess.log
neochess.lock

helpsrc/*.qch
helpsrc/*.qhc
qml/help/*.qch
qml/help/*.qhc
qml/translate/*.json

moc*.go
moc*.h
moc.cpp
rcc*.go
rcc.cpp
rcc.qrc


