p.comment {     
    color:#336600; 
    display: table; margin:0 auto; 
    display: inline-block; 
    font-family: "Times";
    font-style: italic; 
    font-size: 16pt;    
} 

span.move { 
    font-family: "FigurineSymbol T1";
    font-size: 16pt;        
    color: #aaa;    
} 

span.current { 
    color:#ffb38a !important;    
} 

span.movenumber {  
    font-size: 16pt;    
    color: rgb(154, 182, 230) !important;
}