p.comment { 
    color:#336600; 
    display: table; margin:0 auto; 
    display: inline-block; 
    font-style: italic; 
} 

span.piece {
    font-family: "ChessAlpha2";
    font-size: 18pt;
    color: #aaa;
}

span.move { 
    font-size: 16pt;
    color: #aaa;    
} 

span.current { 
    color:#ffb38a !important;    
} 

span.movenumber {  
    font-size: 16pt;
    color: rgb(154, 182, 230);
}